
canvas {
    display: flex;
    border: solid;
    border-radius: 1em;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    margin-left : auto;
    margin-right: auto;
    
}

h1{
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
     margin-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button{
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 1em;
    padding:  2em;
    padding-bottom: 1em;
    padding-top: 1em;
    border: solid;
    border-radius: 1em;
    color: black;
    background-color: white;
    padding-left: auto;
    padding-right: auto;
    margin-left : auto;
    margin-right: auto;
}

button:hover {
    margin-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 1em;
    padding:  2em;
    padding-bottom: 1em;
    padding-top: 1em;
    border: solid;
    border-radius: 1em;
    border-color: darkgrey;
    color: white;
    background-color: black;
}

#fleche{
    display: flex;
}

#gauche{
    margin-left: 1vm;
    margin-right: 0%;
}


#droite{
    margin-left: 10%;
    
}

#lancer{
    
    font-family: Arial, Helvetica, sans-serif;
    
}